---
http_interactions:
- request:
    method: post
    uri: https://<SCORM_ENGINE_HOST>/ScormEngineInterface/api/v1/ScormEngineGemTesting-default/registrations
    body:
      encoding: UTF-8
      string: '{"courseId":"invalid-bogus","registrationId":"testing-golf-explained-registration-1","learner":{"id":"testing-golf-explained-learner-1","firstName":"Arnold","lastName":"Palmer"},"postBack":{"url":"http://playtronics.com/passback/","authType":"FORM","userName":"werner_brandes","password":"passport","resultsFormat":"ACTIVITY"}}'
    headers:
      Authorization:
      - Basic <BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Course ID ''invalid-bogus'' is invalid"}'
  recorded_at: Fri, 25 Sep 2020 23:09:28 GMT
recorded_with: VCR 4.0.0
